﻿@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";
    <div class="modal fade" id="modalMessage" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content border-0">
                <div class="alert alert-@statusMessageClass m-0">
                    <h4 class="alert-heading">@(Model.StartsWith("Error") ? "Fail" : "Succes")</h4>
                    <p>@Model</p>
                    <hr>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-@statusMessageClass " data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#modalMessage').modal('show');
        });
    </script>
}