﻿@model LogAppWebCore.Models.UserViewModels.UserEditViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5">
            <h3 class="pb-3 m-0">Add new user</h3>
            <form method="post" class="">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Surname"></label>
                    <input asp-for="Surname" class="form-control"/>
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control"/>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Roles"></label>
                    @for (var i = 0; i < Model.Roles.Count(); i++)
                    {
                        <div class="form-check">
                            @Html.HiddenFor(m => m.Roles[i].Id)
                            @Html.HiddenFor(m => m.Roles[i].Name)
                            @Html.CheckBoxFor(m => m.Roles[i].IsSelected, new {@class = "form-check-input"})
                            @Html.LabelFor(m => m.Roles[i].Name, Model.Roles[i].Name, new {@class = "form-check-label"})
                        </div>
                    }
                    <!--<span asp-validation-for="Roles" class="text-danger"></span>-->
                </div>
                <div class="form-row justify-content-end">
                    <div class="form-group col-auto">
                        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                    </div>
                    <div class="form-group col-auto">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@await Html.PartialAsync("_StatusMessageModal", Model.StatusMessage)

<script>
    $('#modalMessage').on('hidden.bs.modal', function (e) {
        window.location = "/users/create";
    });
</script>