﻿@model LogAppWebCore.Models.UserViewModels.UserDetailsViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5">
            <h3 class="pb-3 m-0">User details</h3>
            <div class="form-group">
                <label asp-for="Id"></label>
                <input asp-for="Id" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" readonly=""/>
            </div>
            <div class="form-group">
                <label asp-for="Surname"></label>
                <input asp-for="Surname" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="ActiveText"></label>
                <input asp-for="ActiveText" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Roles"></label>
                <input asp-for="Roles" class="form-control" readonly />
            </div>
            <div class="form-row justify-content-end pt-3">
                <div class="form-group col-12 col-md-auto">
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
