﻿@model LogAppWebCore.Models.UserViewModels.UserEditViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <h3 class="pb-3 m-0">Edit user</h3>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Id"></label>
                    <input asp-for="Id" class="form-control" disabled />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Surname"></label>
                    <input asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-row align-items-end">
                    <div class="form-group col">
                        <label asp-for="Active"></label>
                        <select asp-for="Active" class="form-control">
                            <option value="True">Active</option>
                            <option value="False">Deactivated</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Roles"></label>
                    @for (var i = 0; i < Model.Roles.Count(); i++)
                    {
                        <div class="form-check">
                            @Html.HiddenFor(m => m.Roles[i].Id)
                            @Html.HiddenFor(m => m.Roles[i].Name)
                            @Html.CheckBoxFor(m => m.Roles[i].IsSelected, new { @class = "form-check-input" })
                            @Html.LabelFor(m => m.Roles[i].Name, Model.Roles[i].Name, new { @class = "form-check-label" })
                        </div>
                    }
                </div>
                <div class="form-row justify-content-between">
                    <div class="form-group col mb-3 mb-md-0">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
                    </div>
                    <div class="form-group col-12 col-md-auto">
                        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                    </div>
                    <div class="form-group col-auto">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete user modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content border-0">
            <div class="alert alert-danger m-0">
                <h4 class="alert-heading">Delete user</h4>
                <p>Are you sure?</p>
                <hr>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Cancel</button>
                    <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_StatusMessageModal", Model.StatusMessage)