﻿@model LogAppWebCore.Models.UserViewModels.UserListViewModel

<div class="container-fluid">
    <div class="row" style="min-height: 100%">
        <div class="col">
            <h2 class="pb-3 m-0">Users</h2>
        </div>
        <div class="col d-flex justify-content-end">
            <a asp-action="Create" class="btn btn-primary btn-sm align-self-center p-2">
                <i class="fa fa-plus"></i>
                <span> Add new user</span>
            </a>
        </div>
    </div>
    <div class="row">
        <table class="table table-light table-bordered rounded border-top-0 table-sm" id="table" style="border-spacing: 0;">
            <thead>
            <tr>
                <th class="align-middle">ID</th>
                <th class="align-middle">Name</th>
                <th class="align-middle">Surname</th>
                <th class="align-middle no-sort"></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td class="align-middle">@user.Id</td>
                    <td class="align-middle">@user.Name</td>
                    <td class="align-middle"> @user.Surname</td>
                    <td class="align-middle fit">
                        <div class="btn-group">
                            <a asp-action="Details" asp-route-id="@user.Id" class="btn btn-secondary btn-table-ation d-inline-flex justify-content-center align-items-center border-secondary"><i class="fa fa-eye"></i></a>
                            <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-secondary btn-table-ation d-inline-flex justify-content-center align-items-center border-secondary"><i class="fa fa-cog"></i></a>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@await Html.PartialAsync("_StatusMessageModal", @Model.StatusMessage)

<script>
    $(document).ready(function () {
        $('#table').DataTable();
    });

    $('#table').dataTable({
        "columnDefs": [{
            "targets": 'no-sort',
            "orderable": false
        }]
    });
</script>
