﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LogAppWebCore</title>
    <link href="~/master.min.css" rel="stylesheet"/>
    <link href="~/css/style.css" rel="stylesheet"/>
    <script src="~/master.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-around">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="col-12 p-0 m-0 position-sticky" style="top: 0; z-index: 999">
                    @await Html.PartialAsync("_TopNavBar")
                </div>

                <div class="col-md-2 col-12 p-0 m-0 position-sticky" style="top: 56px; z-index: 998">
                    @await Html.PartialAsync("_SideNavBar")
                </div>
            }
            <div class="col-md-10 col-12 p-0 py-2 main-content">
                @RenderBody()
            </div>
        </div>
    </div>

</body>
</html>