@using Microsoft.AspNetCore.Identity
@using LogAppWebCore.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="ml-auto">
        <ul class="navbar-nav">
            <!--
            <li class="nav-item">
                <a asp-area="" asp-controller="Manage" asp-action="Index" class="nav-link text-nowrap" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            -->

            <li class="nav-item">
                <button type="submit" class="btn btn-link nav-link text-left border-0">Log out</button>
            </li>
        </ul>
    </form>
}


