﻿<ul class="flex-md-column navbar-nav w-100 justify-content-between">

    <li class="nav-item w-100">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link pl-0"><i class="fa fa-heart-o fa-fw"></i> <span class="">Home</span></a>
        <ul class="collapse" id="homeSubmenu">
            <li>
                <a class="nav-link" href="#">Home 1</a>
            </li>
            <li>
                <a class="nav-link" href="#">Home 2</a>
            </li>
            <li>
                <a class="nav-link" href="#">Home 3</a>
            </li>
        </ul>
    </li>

    <li class="nav-item w-100">
        <a class="nav-link pl-0" href="#"><i class="fa fa-heart-o fa-fw"></i> <span class="">Link</span></a>
    </li>
    <li class="nav-item w-100">
        <a class="nav-link pl-0" href="#"><i class="fa fa-book fa-fw"></i> <span class="">Link</span></a>
    </li>
    <li class="nav-item w-100">
        <a class="nav-link pl-0" href="#"><i class="fa fa-heart fa-fw"></i> <span class="">Link</span></a>
    </li>
    <li class="nav-item w-100">
        <a class="nav-link pl-0" href="#"><i class="fa fa-star fa-fw"></i> <span class="">Link</span></a>
    </li>
    <li class="nav-item w-100">
        <a class="nav-link pl-0" href="#"><i class="fa fa-list fa-fw"></i> <span class="">Link</span></a>
    </li>
</ul>