﻿<div class="h-100 bg-dark d-sm-block d-none">
    <nav class="navbar navbar-expand-sm navbar-dark align-items-start position-sticky py-md-0 sidebar">

        <ul class="flex-md-column navbar-nav w-100 justify-content-between">
            
        <!--
        <li class="nav-item w-100">
            <a href="#submenu1Side" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link pl-0"><i class="fa fa-heart-o fa-fw"></i> <span class="">Home</span></a>
            <ul class="collapse list-unstyled" id="submenu1Side">
                <li>
                    <a class="nav-link" href="#">Home 1</a>
                </li>
                <li>
                    <a class="nav-link" href="#">Home 2</a>
                </li>
                <li>
                    <a class="nav-link" href="#">Home 3</a>
                </li>
            </ul>
        </li>
        -->

            <li class="nav-item w-100">
                <a asp-controller="Users" asp-action="Index" class="nav-link pl-0"><i class="fa fa-user fa-fw"></i> <span class="">Users</span></a>
            </li>
            <li class="nav-item w-100">
                <a asp-controller="Workers" asp-action="Index" class="nav-link pl-0"><i class="fa fa-user fa-fw"></i> <span class="">Workers</span></a>
            </li>
            <li class="nav-item w-100">
                <a asp-controller="WorkLogs" asp-action="Index" class="nav-link pl-0"><i class="fa fa-list fa-fw"></i> <span class="">Work logs</span></a>
            </li>
            <li class="nav-item w-100">
                <a asp-controller="Worker" asp-action="WorkLogs" class="nav-link pl-0"><i class="fa fa-list fa-fw"></i> <span class="">My Work</span></a>
            </li>
        </ul>
    </nav>
</div>