﻿<header class="w-100">
    <nav class="navbar navbar-dark navbar-expand-sm bg-dark">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">LogAppWebCore</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="News" class="nav-link">News</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Contact" class="nav-link">Contact</a>
                    </li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")

                <hr class="d-sm-none" />
                <ul class="flex-md-column navbar-nav w-100 justify-content-between d-sm-none">

                    <li class="nav-item w-100">
                        <a href="#submenu1Top" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link pl-0"><i class="fa fa-heart-o fa-fw"></i> <span class="">Home</span></a>
                        <ul class="collapse list-unstyled" id="submenu1Top">
                            <li>
                                <a class="nav-link" href="#">Home 1</a>
                            </li>
                            <li>
                                <a class="nav-link" href="#">Home 2</a>
                            </li>
                            <li>
                                <a class="nav-link" href="#">Home 3</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item w-100">
                        <a class="nav-link pl-0" href="#"><i class="fa fa-heart-o fa-fw"></i> <span class="">Link</span></a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link pl-0" href="#"><i class="fa fa-book fa-fw"></i> <span class="">Link</span></a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link pl-0" href="#"><i class="fa fa-heart fa-fw"></i> <span class="">Link</span></a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link pl-0" href="#"><i class="fa fa-star fa-fw"></i> <span class="">Link</span></a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link pl-0" href="#"><i class="fa fa-list fa-fw"></i> <span class="">Link</span></a>
                    </li>
                </ul>
            </div>
    </nav>
</header>