﻿@model LogAppWebCore.Models.WorkersViewModels.WorkerDetailsViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5">
            <h3 class="pb-3 m-0">Worker details</h3>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" readonly=""/>
            </div>
            <div class="form-group">
                <label asp-for="Surname"></label>
                <input asp-for="Surname" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" readonly/>
            </div>
            <div class="form-row justify-content-end pt-3">
                <div class="form-group col-12 col-md-auto">
                    <input type="button" onclick="history.go(-1)" class="btn btn-secondary" value="Cancel" />
                </div>
            </div>
        </div>
    </div>
</div>
