﻿@model LogAppWebCore.Models.WorkersViewModels.WorkerListViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2 class="pb-3 m-0">Workers</h2>
        </div>
    </div>
    <div class="row">
        <table class="table table-light table-bordered rounded border-top-0 table-sm" id="table" style="border-spacing: 0;">
            <thead>
                <tr>
                    <th class="align-middle">Name</th>
                    <th class="align-middle">Surname</th>
                    <th class="align-middle no-sort"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var worker in Model.Workers)
                {
                    <tr>
                        <td class="align-middle">@worker.Name</td>
                        <td class="align-middle"> @worker.Surname</td>
                        <td class="align-middle fit">
                            <div class="btn-group">
                                <a asp-action="Details" asp-route-workerId="@worker.Id" class="btn btn-secondary btn-table-ation d-inline-flex justify-content-center align-items-center border-secondary"><i class="fa fa-eye"></i></a>
                                <a asp-controller="WorkLogs" asp-action="Index" asp-route-workerId="@worker.Id" class="btn btn-secondary btn-table-ation d-inline-flex justify-content-center align-items-center border-secondary"><i class="fa fa-list"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#table').DataTable();
    });

    $('#table').dataTable({
        "columnDefs": [{
            "targets": 'no-sort',
            "orderable": false
        }]
    });
</script>
