﻿@model LogAppWebCore.Models.WorkLogViewModels.WorkLogListViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2 class="pb-3 m-0">Work logs</h2>
        </div>
    </div>

    <div class="row">
        <table class="table table-bordered table-light rounded border-top-0 table-sm" id="table" style="border-spacing: 0;">
            <thead>
                <tr>
                    <th class="align-middle">ID</th>
                    <th class="align-middle">User ID</th>
                    <th class="align-middle">User name</th>
                    <th class="align-middle">User surname</th>
                    <th class="align-middle">Work date</th>
                    <th class="align-middle">Work start time</th>
                    <th class="align-middle">Work end time</th>
                    <th class="align-middle">Work duration</th>
                    <th class="align-middle no-sort fit"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var workLog in Model.WorkLogs)
                {
                <tr>
                    <td class="align-middle">@workLog.Id</td>
                    <td class="align-middle">@workLog.UserId</td>
                    <td class="align-middle">@workLog.UserName</td>
                    <td class="align-middle">@workLog.UserSurname</td>
                    <td class="align-middle">@workLog.WorkDate</td>
                    <td class="align-middle">@workLog.WorkStartTime</td>
                    <td class="align-middle">@workLog.WorkEndTime</td>
                    <td class="align-middle">@workLog.WorkDuration</td>
                    <td class="align-middle text-center fit">
                        <div class="btn-group">
                            <a asp-action="Details" asp-route-workLogId="@workLog.Id" class="btn btn-secondary btn-table-ation d-inline-flex justify-content-center align-items-center"><i class="fa fa-eye"></i></a>
                            <a asp-controller="Workers" asp-action="Details" asp-route-workerId="@workLog.UserId" class="btn btn-secondary btn-table-ation d-inline-flex justify-content-center align-items-center"><i class="fa fa-user"></i></a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>

        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#table').DataTable();
    });

    $('#table').dataTable( {
        "columnDefs": [ {
            "targets": 'no-sort',
            "orderable": false
        } ]
    } );
</script>

