﻿@model LogAppWebCore.Models.AccountViewModels.ChangePasswordViewModel

<div class="container">
    <div class="row justify-content-center pt-5">
        <div class="col-lg-6">
            <h2 class="pb-1">Change password</h2>
            <h4>You have to change password before first login</h4>
            <hr />
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger">
                    <h5>There are some errors:</h5>
                </div>

                <input asp-for="Id" type="hidden"/>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword"></label>
                    <input asp-for="NewPassword" class="form-control"/>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmNewPassword"></label>
                    <input asp-for="ConfirmNewPassword" class="form-control"/>
                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                </div>
                <div class="form-row justify-content-end">
                    <button type="submit" class="btn btn-primary">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>



@await Html.PartialAsync("_StatusModalMessage", Model.StatusMessage)

<script>
    $('#modalMessage').on('hidden.bs.modal', function (e) {
        window.location = "/account/login";
    });
</script>