﻿@model LoginViewModel

<style type="text/css">
    body, html {
        background-color: #f5f5f5;
    }
</style>

<div class="container-fluid h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-xl-2 col-lg-3 p-1 ">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>
                <div class="vertical-input-group">
                    <div class="input-group">
                        <input asp-for="Username" class="form-control border-bottom-0 p-2" placeholder="Username" required="" autofocus="">
                    </div>
                    <div class="input-group">
                        <input asp-for="Password" class="form-control p-2 pr-2 pl-2" placeholder="Password" required="">
                    </div>
                </div>
                
                <div>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>
