﻿@using LogAppWebCore.Services
@inject WorkerService WorkerService
@inject WorkLogService WorkLogService
@model LoginViewModel

<div class="container-fluid">
    <h2>Hello!</h2>

    <div class="row">
        <div class="col">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">Info</div>
                <div class="card-body">
                    <h5 class="card-title">We already have @WorkerService.GetWorkersCount() workers!</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card text-white bg-success mb-3">
                <div class="card-header">Info</div>
                <div class="card-body">
                    <h5 class="card-title">Our workers have worked for @WorkLogService.GetTotalWorkingTime().Hour hours and @(WorkLogService.GetTotalWorkingTime().Minute) minutes!</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>



