﻿@model LogAppWebCore.Models.WorkerViewModels.WorkerWorkLogViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5">
            <h3 class="pb-3 m-0">Work log details</h3>
            <div class="form-group">
                <label asp-for="WorkDate"></label>
                <input asp-for="WorkDate" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="WorkStartTime"></label>
                <input asp-for="WorkStartTime" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="WorkEndTime"></label>
                <input asp-for="WorkEndTime" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="WorkDuration"></label>
                <input asp-for="WorkDuration" class="form-control" readonly />
            </div>
            <div class="form-row justify-content-end pt-3">
                <div class="form-group col-12 col-md-auto">
                    <a asp-action="WorkLogs" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
