$fa-font-path: "../fonts";
@import "./node_modules/font-awesome/scss/font-awesome";

.icon-user {
    @extend .fa;
    @extend .fa-user;
}

html {
    height: 100vh;
}

body {
    height: auto;
    min-height: 100vh;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.btn-table-ation {
    width: 40px !important;
    height: 40px !important;
}

//login form style
.vertical-input-group .input-group:first-child {
    padding-bottom: 0;
}

.vertical-input-group .input-group:first-child * {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.vertical-input-group .input-group:last-child {
    padding-top: 0;
}

.vertical-input-group .input-group:last-child * {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.vertical-input-group .input-group:not(:last-child):not(:first-child) {
    padding-top: 0;
    padding-bottom: 0;
}

.vertical-input-group .input-group:not(:last-child):not(:first-child) * {
    border-radius: 0;
}

//validation style
.validation-summary-valid {
    display: none !important;
}

.validation-summary-errors {
    display: block !important;
}

.validation-summary-errors ul {
    padding-left: 0 !important;
    margin-left: 0 !important;
}

.validation-summary-errors ul li {
    margin-left: 1em;
}

//sidebar
.sidebar {
    top: 56px;
}

a[data-toggle="collapse"] {
    position: relative;
}


@media (min-width: 768px) {
    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 10px;
    }
}


a, a:hover, a:focus {
    //color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    //background: #7386D5;
    //color: #fff;

}

.sidebar ul li {
    //padding: 10px 10px;
    //border-bottom: 1px solid #47748b;
}


.sidebar ul li a {
    //padding: 16px !important;
    display: block;
    white-space: nowrap;
}

.sidebar ul li ul {
    padding-left: 1rem;
}



//main content section
.main-content {
    min-height: calc(100vh - 56px);
}

@media (max-width: 768px) {
    .main-content {
        min-height: calc(100vh - 112px);
    }
}